header {
    height: 280px;
    padding: 16px;
    background: white;
    background-color: #1f2937;
    display: flex;
    align-items: center;
    text-align: top;
}

.welcome-logo {
    height: 10px;
    padding: 16px;
    background: #1f2937;
    border: 4px solid #1f2937;
    color: white;
    text-align: left;
    align-items: left;
    display: flex;
    align-items: center;
    justify-content: left;
}

.this-website-is-awesome {
    border: 4px solid #1f2937;
    color: #e5e7eb;
    display: flex;
    position: absolute;
    top: 120px;
    left: 100px;
}

.home {
    color: white;
    border: 4px solid #1f2937;
    display: flex;
    position: absolute;
    top: 20px;
    left: 850px;
}

.about {
    color: white;
    border: 4px solid #1f2937;
    display: flex;
    position: absolute;
    top: 20px;
    left: 980px;
}

.products {
    color: white;
    border: 4px solid #1f2937;
    display: flex;
    position: absolute;
    top: 20px;
    left: 1110px;
}

.awesome-subtext {
    height: 40px;
    padding: 16px;
    width: 280px;
    background: #1f2937;
    color: white;
    font: left;
    border: 4px solid #1f2937;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 9px;
}

.placeholder {
    background: lightgray;
    border-radius: 25px;
    text-align: center;
    height: 130px;
    width: 350px;
    position: absolute;
    right: 0px;
    left: 920px;
}

.placeholder-text {
    border: 4px solid lightgray;
    color: rgb(57, 57, 55);
    display: flex;
    position: absolute;
    left: 990px;
    top: 190px;
}

.sign-up-one {
    background: #3882F6;
    border-radius: 25px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 9px;
    position: absolute;
    left: 130px;
    top: 260px;
}

.Sign-up-two {
    background: #3882F6;
    border-radius: 25px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 9px;
    position: absolute;
    left: 870px;
    top: 1170px;
}

.box-one,
.box-two,
.box-three,
.box-four {
    width: 120px;
    height: 120px;
    border: 4px solid blue;
    background: white;
    border-radius: 25px;
}

.containers {
    height: 280px;
    padding: 16px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 180px;
}

.box-one-text {
    width: 150px;
    color: black;
    position: absolute;
    display: flex;
    top: 600px;
    left: 185px;
}

.box-two-text {
    width: 150px;
    color: black;
    position: absolute;
    display: flex;
    top: 600px;
    left: 495px;
}

.box-three-text {
    width: 150px;
    color: black;
    position: absolute;
    display: flex;
    top: 600px;
    left: 810px;
}

.box-four-text {
    width: 150px;
    color: black;
    position: absolute;
    display: flex;
    top: 600px;
    left: 1120px;
}

.quote {
    height: 280px;
    padding: 16px;
    background: lightgray;
    color: black;
    border: 4px solid lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 9px;
}

.thor-quote {
    width: 750px;
    height: 200px;
    color: rgb(57, 57, 55);
    position: absolute;
    display: flex;
    top: 800px;
    left: 380px;
}

.thor-credit {
    border: 4px solid lightgray;
    color: black;
    height: 80px;
    width: 190px;
    display: flex;
    position: absolute;
    top: 850px;
    left: 850px;
}

.call-to-action {
    height: 280px;
    padding: 16px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 9px;
}

.item {
    width: 650px;
    height: 120px;
    border: 4px solid #3882F6;
    background: #3882F6;
    color: white;
    border-radius: 25px;
}

.footer {
    height: 70px;
    padding: 16px;
    background: black;
    color: white;
    border: 4px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 9px;
}